# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake

# CMake Configure
googletest-build
googletest-download
googletest-prefix
googletest-src

# Testing
Testing
lib
example
test/


# Binaries
cpp-curses-db

# Editors
*.swp
